<section class="postList view">
    <header>
        <h4> <i class="icon file"></i>
            Post
        </h4>
        <a ui-sref="admin.postCreate" class="add btn flat">Add post</a>
    </header>
    <div class="inner-content">
        <div class="tableList">
            <div class="thead">
                <span>title</span>
                <span>author</span>
                <span>time</span>
            </div>
            <div class="tbody" >
                <div class="row show" ng-repeat="post in dataList" >
                    <div class="do">
                        <a href="">{{post.title}}</a>
                        <p class="action">
                            <a href="" item="{{post.id}}" type="post"  remove index="{{$index}}">remove</a>
                            <a ui-sref="admin.postModify({id:{{post.id}}})" class="change">change</a>
                        </p>
                    </div>
                    <span>{{post.author}}</span>
                    <span>{{post.created_at}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/ng-template" id="popConfirm">
    <div class="popConfirm">
        <p>ghfghfg</p>
        <button class="yes btn" ng-click="confirm('remove')">DO IT</button>
        <button class="no btn" ng-click="closeThisDialog('cancle')">CANCLE</button>
    </div>
</script>
<script type="text/ng-template" id="notify">
    <div class="notify">
        <p>{{ngDialogData.action}}action</p>
    </div>
</script>