<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
    <base href="/">
    <script  data-pace-options='{ "elements": true }' src="../static/components/pace/pace.min.js" ></script>
    <link rel="stylesheet" href="../static/components/pace/themes/blue/pace-theme-barber-shop.css"/>


    <link rel="stylesheet" href="../static/components/ngDialog/css/ngDialog.min.css"></head>
    <link rel="stylesheet" href="../static/components/ngDialog/css/ngDialog-theme-default.min.css"></head>

    <script data-main="../static/js/admin/main" src="../static/components/requirejs/require.js"></script>

</head>

<body>
    <header>хедер</header>
    <article id="admin" ui-view>

    </article>
</body>
</html>