<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>iCOOK</title>
        <meta name="description" content="Here goes description" />
        <meta name="author" content="author name" />
        <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
        <!-- ======================================================================
                                    Mobile Specific Meta
        ======================================================================= -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- ======================================================================
                                    Style CSS + Google Fonts
        ======================================================================= -->
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/bootstrap.css" />
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>
<body>
    <!-- ===============================================
    START HEADER =================================== -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="logo">
                        <a href="index.html">iCOOK</a>
                    </div>
                </div>
                <div class="col-md-8 col-xs-6">
                    <div class="menu">
                        <div class="responsive-menu">Menu</div>
                        <ul>
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="gallery.html">Recipe gallery</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-heading">
            <h2>Your recipe is at a click away. Choose your favorite recipe and cooking with iCOOK. Enjoy all the flavors with iCOOK.</h2>
            </div>
        </div>
    </div>
    <!-- ===============================================
    END HEADER =================================== -->



    <!-- ===============================================
    START CONTENT =================================== -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                <!-- BLOG ENTRY REPEAT -->
                    <div class="blog-entry">
                        <div class="entry-cover">
                            <a href="post.html"><img src="../static/images/cook/grilled_potatoes_with_dill.jpg" alt="blog image" /></a>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="entry-header">
                                <h1><a href="post.html">Grilled potatoes with dill</a></h1>
                                <p><span>January 6, 2014</span> by <a href="#">John Doe</a> in <a href="#">Recipe</a></p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="entry-content">
                                    <p>Proin blandit aliquam dapibus. Aliquam erat volutpat. ivamus gravida justo sed nisl viverra in venenatis lacus posuere.  Suspendisse iaculis turpis gravida neque ullamcorper malesuada. Aenean ac velit in dolor blandit bibendum. Donec a lacus ac libero pulvinar condimentum sed id nulla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- BLOG ENTRY REPEAT -->

                    <div class="blog-entry">
                        <div class="entry-cover">
                            <a href="post.html"><img src="../static/images/cook/barbecue_with_vegetables.jpg" alt="blog image" /></a>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="entry-header">
                                <h1><a href="post.html">barbecue with vegetables</a></h1>
                                <p><span>January 6, 2014</span> by <a href="#">John Doe</a> in <a href="#">Recipe</a></p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="entry-content">
                                    <p>
        <form method="POST" action="/">
            <table cellspacing="0" class="form-table">
            <tbody>
                <tr>
                    <th>{{ form.email.label }}</th>
                    <td>{{ form.email(size=30) }}</td>
                </tr>
                <tr>
                    <th>{{ form.password.label }}</th>
                    <td>{{ form.password(size=30) }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>{{ form.submit }}</td>
                </tr>
            </tbody>
            </table>
        </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-entry">
                        <div class="entry-cover">
                            <a href="post.html"><img src="../static/images/cook/grilled_pork_ribs.jpg" alt="blog image" /></a>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="entry-header">
                                <h1><a href="post.html">Grilled pork ribs</a></h1>
                                <p><span>January 6, 2014</span> by <a href="#">John Doe</a> in <a href="#">Recipe</a></p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="entry-content">
                                    <p>Proin blandit aliquam dapibus. Aliquam erat volutpat. ivamus gravida justo sed nisl viverra in venenatis lacus posuere.  Suspendisse iaculis turpis gravida neque ullamcorper malesuada. Aenean ac velit in dolor blandit bibendum. Donec a lacus ac libero pulvinar condimentum sed id nulla.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-entry">
                        <div class="entry-cover">
                            <a href="post.html"><img src="../static/images/cook/cold_and_fresh_lemonade.jpg" alt="blog image" /></a>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="entry-header">
                                <h1><a href="post.html">Cold and fresh lemonade</a></h1>
                                <p><span>January 6, 2014</span> by <a href="#">John Doe</a> in <a href="#">Recipe</a></p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="entry-content">
                                    <p>Proin blandit aliquam dapibus. Aliquam erat volutpat. ivamus gravida justo sed nisl viverra in venenatis lacus posuere.  Suspendisse iaculis turpis gravida neque ullamcorper malesuada. Aenean ac velit in dolor blandit bibendum. Donec a lacus ac libero pulvinar condimentum sed id nulla.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-entry">
                        <div class="entry-cover">
                            <a href="post.html"><img src="../static/images/cook/meshana_scara.jpg" alt="blog image" /></a>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="entry-header">
                                <h1><a href="post.html">Meshana scara</a></h1>
                                <p><span>January 6, 2014</span> by <a href="#">John Doe</a> in <a href="#">Recipe</a></p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="entry-content">
                                    <p>Proin blandit aliquam dapibus. Aliquam erat volutpat. ivamus gravida justo sed nisl viverra in venenatis lacus posuere.  Suspendisse iaculis turpis gravida neque ullamcorper malesuada. Aenean ac velit in dolor blandit bibendum. Donec a lacus ac libero pulvinar condimentum sed id nulla.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <div class="widget">
                            <form class="search">
                                <input type="text" class="search-line" placeholder="What are you searching for?" name="serch">
                                <input type="submit" value="" class="search-button">
                            </form>
                        </div>

                        <div class="widget">
                            <h2 class="widget-title">Popular</h2>
                            <div class="popular-entrys">
                                <div class="popular-entry">
                                    <a href="post.html"><img src="../static/images/cook/carpaccio_with_nuts.jpg" alt="blog image" /></a>
                                    <h3><a href="post.html">carpaccio with nuts</a></h3>
                                </div>

                                <div class="popular-entry">
                                    <a href="post.html"><img src="../static/images/cook/strawberry_with_cream.jpg" alt="blog image" /></a>
                                    <h3><a href="post.html">strawberry with cream</a></h3>
                                </div>

                                <div class="popular-entry">
                                    <a href="post.html"><img src="../static/images/cook/cookies_with_strawberry.jpg" alt="blog image" /></a>
                                    <h3><a href="post.html">cookies with strawberry</a></h3>
                                </div>

                                <div class="popular-entry">
                                    <a href="post.html"><img src="../static/images/cook/noodles_with_pork_and_shrimps.jpg" alt="blog image" /></a>
                                    <h3><a href="post.html">noodles with pork and shrimps</a></h3>
                                </div>

                                <div class="popular-entry">
                                    <a href="post.html"><img src="../static/images/cook/barbecue_with_vegetables_and_shrimps.jpg" alt="blog image" /></a>
                                    <h3><a href="post.html">barbecue with vegetables and shrimps</a></h3>
                                </div>
                            </div>
                        </div>

                        <div class="widget">
                            <h2 class="widget-title">Social</h2>
                            <ul class="socials">
                                <li><a href="#"><img src="../static/images/mini_facebook.png" alt="facebook" /></a></li>
                                <li><a href="#"><img src="../static/images/mini_twitter.png" alt="twitter" /></a></li>
                                <li><a href="#"><img src="../static/images/mini_rss.png" alt="rss" /></a></li>
                                <li><a href="#"><img src="../static/images/mini_google+.png" alt="google+" /></a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <h2 class="widget-title">Meta</h2>
                            <ul>
                                <li><a href="#">Log in</a></li>
                                <li><a href="#">Archive</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="page-numbers">
                <li><span class="page-numbers current">1</span> /</li>
                <li><a class="page-numbers" href="#">2</a> /</li>
                <li><a class="page-numbers" href="#">3</a> /</li>
                <li><a class="page-numbers" href="#">4</a> /</li>
                <li><a class="page-numbers" href="#">5</a> /</li>
                <li><a class="next page-numbers" href="#">→</a></li>
            </ul>

        </div>
    </div>
    <!-- ===============================================
    END CONTENT =================================== -->



    <!-- ===============================================
    START FOOTER =================================== -->
    <div class="container">
        <div class="footer">
            <p>Copyright © 2014 iCOOK Blog. All rights reserved. Vivamus gravida justo sed nisl viverra in venenatis lacus posuere.</p>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="recipe.html">Recipe Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- ===============================================
    END FOOTER =================================== -->



        <!-- ======================================================================
                                        START SCRIPTS
        ======================================================================= -->
        <script src="../static/js/modernizr.custom.63321.js" type="text/javascript"></script>
        <script src="../static/js/jquery-1.10.0.min.js" type="text/javascript"></script>
        <script src="../static/js/jquery-ui.min.js" type="text/javascript"></script>
        <script src="../static/js/bootstrap.js" type="text/javascript"></script>
        <script src="../static/js/placeholder.js" type="text/javascript"></script>
        <script src="../static/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
        <script src="../static/js/masonry.pkgd.min.js" type="text/javascript"></script>
        <script src="../static/js/jquery.swipebox.min.js" type="text/javascript"></script>
        <script src="../static/js/options.js" type="text/javascript"></script>
        <script src="../static/js/plugins.js" type="text/javascript"></script>
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <!-- ======================================================================
                                        END SCRIPTS
        ======================================================================= -->
    </body>
</html>